/* header */

* {
    margin: 0;
    padding: 0;
}

.cms-page-view .page-main {
    padding: 0 !important;
}

.mob-width .page-main {
    padding: 0 !important;
}

.breadcrumbs ul {
    display: none !important;
}

.photo-editing-studio-header {
    height: 870px;
    width: 100%;
    position: relative;
    display: block;
    background-image: url(https://au-assets.s3.us-west-2.amazonaws.com/assets/campaigns/2022/Q1/03-01+Photo+Editing+Studio+Page/Photo+Editor+Studio+Header.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.photo-editing-studio-header-container {
    margin-left: auto;
    margin-right: auto;
    width: 942px;
    height: 100%;
    position: relative;
}

.photo-editing-studio-subhead {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 100px;
    top: 108px;
    position: absolute;
}

.photo-editing-studio-subhead h3 {
    text-align: left;
    line-height: 20px;
    letter-spacing: 4px;
}

.photo-editing-studio-subhead h3 span{
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
    color: #FFF;
    text-transform: Uppercase;
}

.photo-editing-studio-header-header {
    display: block;
    background: rgba(255,255,255,0);
    left: 45px;
    top: 161px;
    z-index: 12;
    position: absolute;
}

.photo-editing-studio-header-image-container {
    overflow: hidden;
    border-style: none;
    border-radius: 0px;
    width: 343px;
    height: 89px;
}

.photo-editing-studio-header-image-container img{
    height: 100%;
    width: 100%;
}

.photo-editing-studio-header-vector {
    display: block;
    background: rgba(255,255,255,1);
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 0px;
    left: 90px;
    top: 282px;
    z-index: 15;
    width: 286px;
    height: 0px;
    position: absolute;
}

.photo-editing-studio-subhead-2 {
    display: block;  
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    left: 100px;
    top: 306px;
    z-index: 9;
    width: 288px;
    height: 78px;
    position: absolute;
}

.photo-editing-studio-subhead-2 h1 {
    line-height: 26px;
}

.photo-editing-studio-subhead-2 h1  span{
    font-weight: 400;
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-style: normal;
}

@media only screen and (max-width: 941px) {
    .photo-editing-studio-header-container {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .photo-editing-studio-header{
        height: 502px;
    }

    .photo-editing-studio-subhead {
        display: none;
    }

    .photo-editing-studio-header-header{
        left: 22px;
        top: 46px;
    }

    .photo-editing-studio-header-image-container{
        width: 260px;
        height: 67px;
    }

    .photo-editing-studio-header-vector {
        left: 45px;
        top: 354px;
        width: 227px;
        height: 1px;
    }

    .photo-editing-studio-subhead-2 {
        left: 45px;
        top: 368px;
        width: 275px;
    }
  }

/* block 2 */

.photo-editing-studio-block-2 {
    display: block;
    background: rgba(255,255,255,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    width: 100%;
    height: 1839px;
    position: relative;
}

.photo-editing-studio-block-2-content {
    margin-left: auto;
    margin-right: auto;
    width: 942px;
    height: 100%;
    position: relative;
}

.photo-editing-studio-block-2-header {
    display: block;
    background: rgba(255,255,255,0);
    border-style: none;
    border-radius: 0px;
    top: 3%;
    z-index: 32;
    width: 100%;
    position: absolute;

}

.photo-editing-studio-block-2-header p{
    line-height: 32px;
    text-align: center;
}

.photo-editing-studio-block-2 img {
    height: 100%;
    width: 100%;
}

.photo-editing-studio-block-2-box-1 {
    display: block;
    background: rgba(255,255,255,0);
    left: 9.87%;
    top: 7.12%;
    z-index: 17;
    position: absolute;
    
}

.photo-editing-studio-block-2-box-size-image {
    width: 40.13%;
    height: 22.57%;
}

.photo-editing-studio-block-2-box-size-content {
    width: 40.13%;
    height: 22.57%;
}

.photo-editing-studio-block-2-box-image-container {
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    border-radius: 0px;
    width: 100%;
    height: 100%;
}

.photo-editing-studio-block-2-box-2 {
    display: block;
    background: rgba(255,255,255,0);
    border-style: solid;
    border-width: 1px;
    border-color: #2f393b;
    border-radius: 0px;
    left: 49.9%;
    top: 7.12%;
    z-index: 10;
    position: absolute;
}

.photo-editing-studio-block-2-box-2-container {
    position: relative;
    background: none;
    height: 100%;
    width: 100%;
}

.photo-editing-studio-block-2-box-header {
    font-family: Montserrat; 
    font-weight: 600; 
    font-style: normal;
    font-size: 24px;
    position: absolute;
    top: 17.11%;
    left: 9.52%;
}

.photo-editing-studio-block-2-box-body {
    font-family: "Times New Roman", Times, serif; 
    font-weight: 400; 
    font-style: normal;
    font-size: 16px;
    width: 75%;
    position: absolute;
    left: 9.52%;
    top: 36.63%;
}

.photo-editing-studio-block-2-box-cta {
    display: block;
    background: rgba(255,255,255,0);
    border-top: 1px solid #2f393b;
    top: 85.78%;
    z-index: 11;
    width: 100%;
    height: 13.98%;
    position: absolute;
    
}

.photo-editing-studio-block-2-box-cta-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.photo-editing-studio-block-2-box-cta h3 {
    text-align: left; 
    line-height: 20px; 
    letter-spacing: 3px;
    position: absolute;
    left: 9.52%;
    top: 31.03%;
}

.photo-editing-studio-block-2-box-cta span {
    font-family: Lato;
    font-weight: 600;
    font-style: normal;
    font-size: 11px;
    color: #2f393b !important;
    text-transform: Uppercase;
}

.photo-editing-studio-block-2-box-cta a {
    text-decoration: none !important;
    color: #000;
}

.photo-editing-studio-block-2-box-3 {
    display: block;
    background: rgba(243,234,232,1);
    left: 9.87%;
    top: 29.65%;
    z-index: 17;
    position: absolute;
}

.photo-editing-studio-block-2-box-4 {
    position: absolute;
    left: 49.9%;
    top: 29.65%;
    background: rgba(243,234,232,1);
    border-style: solid;
    border-width: 1px;
    border-color: #2f393b;
    border-radius: 0px;
}



.photo-editing-studio-block-2-box-5 {
    display: block;
    background: rgba(255,255,255,0);
    left: 9.87%;
    top: 52.15%;
    z-index: 24;
    position: absolute;
}

.photo-editing-studio-block-2-box-6 {
    position: absolute;
    left: 49.9%;
    top: 52.15%;
    background: rgba(255,255,255,0);
    border-style: solid;
    border-width: 1px;
    border-color: #2f393b;
    border-radius: 0px;
}

.photo-editing-studio-block-2-box-7 {
    display: block;
    background: rgba(243,234,232,1);
    left: 9.87%;
    top: 74.65%;
    z-index: 17;
    position: absolute;
}

.photo-editing-studio-block-2-box-8 {
    position: absolute;
    left: 49.9%;
    top: 74.65%;
    background: rgba(243,234,232,1);
    border-style: solid;
    border-width: 1px;
    border-color: #2f393b;
    border-radius: 0px;
}

@media only screen and (max-width: 941px) {
    .photo-editing-studio-block-2-content {
        width: 100%;
    }

    .photo-editing-studio-block-2 {
        height: calc(100vw * 1.95)
    }
}

@media only screen and (max-width: 850px) {
    .photo-editing-studio-block-2-box-header {
        font-size: 23px;
        top: 12.11%;
    }

    .photo-editing-studio-block-2-box-body {
        font-size: 15px;
        width: 85%;
        top: 34.63%;
    }
}

@media only screen and (max-width: 680px) {
    .photo-editing-studio-block-2-box-header {
        font-size: 20px;
        top: 9.11%;
        left: 6.52%
    }

    .photo-editing-studio-block-2-box-body {
        font-size: 15px;
        width: 90%;
        top: 29.63%;
        left: 6.52%;
    }
}

@media only screen and (max-width: 599px) {

    .photo-editing-studio-block-2{
        height: auto;
    }
    
    .photo-editing-studio-block-2-content {
        margin-left: auto;
        margin-right: auto;
        width: 320px;
        height: 2624px;
    }

    .photo-editing-studio-block-2-header {
        top: 51px;
    }

    .photo-editing-studio-block-2-box-size-image {
        width: 252px;
        height: 277px;
    }

    .photo-editing-studio-block-2-box-size-content {
        height: 339px;
        width: 252px;
    }

    .photo-editing-studio-block-2-box-1 {
        left: 33px;
        top: 117px;
    }

    .photo-editing-studio-block-2-box-2 {
        top: 393px;
        left: 33px;
    }

    .photo-editing-studio-block-2-box-3 {
        left: 33px;
        top: 731px;
    }

    .photo-editing-studio-block-2-box-4{
        left: 33px;
        top: 1007px;
    }

    .photo-editing-studio-block-2-box-5{
        left: 33px;
        top: 1345px;
    }

    .photo-editing-studio-block-2-box-6{
        left: 33px;
        top: 1621px;
    }

    .photo-editing-studio-block-2-box-7{
        left: 33px;
        top: 1959px;
    }

    .photo-editing-studio-block-2-box-8{
        left: 33px;
        top: 2235px;
    }
}

/* block 3 */

.photo-editing-studio-block-3 {
    width: 100%;
    height: 759px;
    background: rgba(207,171,162,1);
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    border-radius: 0px;
    position: relative;
}

.photo-editing-studio-block-3-container {
    margin-left: auto;
    margin-right: auto;
    width: 942px;
    height: 100%;
    position: relative;
}

.photo-editing-studio-block-3-header {
    top: 8.56%;
    z-index: 33;
    width: 100%;
    position: absolute;
    text-align: center;
}

.photo-editing-studio-block-3-header p{
    font-weight: 600; 
    font-family: Montserrat; 
    font-size: 28px; 
    color: rgb(255, 255, 255);
    line-height: 32px;
    text-align: center;
}

.photo-editing-studio-block-3-box-container {
    height: 100%;
    width: 100%;
    position: relative;
}

.photo-editing-studio-block-3-box-image {
    position: absolute;
    width: 100%;
    height: 83.11%;
    top: 0;
}

.photo-editing-studio-block-3-box-cta {
    position: absolute;
    width: 100%;
    height: auto;
    top: 91.11%;
}

.photo-editing-studio-block-3-box-cta h3{
    text-align: left; 
    line-height: 20px; 
    letter-spacing: 3px;
}

.photo-editing-studio-block-3-box-cta h3{
    text-align: left; 
    line-height: 20px; 
    letter-spacing: 3px;
}

.photo-editing-studio-block-3-box-cta h3 span{
    white-space: nowrap;
    font-family: Lato; 
    font-weight: 600; 
    font-style: normal; 
    font-size: 11px; 
    color: #000 !important; 
    text-transform: Uppercase;
}

.photo-editing-studio-block-3-box-cta h3 span a{
    text-decoration: none !important;
    color: #000 !important; 
}

.photo-editing-studio-block-3-box-image img{ 
    width: 100%;
    height: 100%
}

.photo-editing-studio-block-3-box-size {
    width: 26.96%;
    height: 29.65%;
}

.photo-editing-studio-block-3-box-1 {
    position: absolute;
    top: 17.52%; 
    left: 8.28%;
}

.photo-editing-studio-block-3-box-2 {
    position: absolute;
    top: 17.52%; 
    left: 36.52%;
}

.photo-editing-studio-block-3-box-3 {
    position: absolute;
    top: 17.52%; 
    left: 64.65%;
}

.photo-editing-studio-block-3-box-4 {
    position: absolute;
    top: 50.86%; 
    left: 8.28%;
}

.photo-editing-studio-block-3-box-5 {
    position: absolute;
    top: 50.86%; 
    left: 36.52%;
}

.photo-editing-studio-block-3-box-6 {
    position: absolute;
    top: 50.86%; 
    left: 64.65%;
}

.photo-editing-studio-block-3-cta {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 88.14%;
}

.photo-editing-studio-block-3-cta h2{
    text-align: center;
    line-height: 28px;
}

.photo-editing-studio-block-3-cta span{
    font-family: Lato;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
    color: #2f393b !important;
}

.photo-editing-studio-block-3-cta span a{
    text-decoration: none !important;
    color: #2f393b !important;
}

@media only screen and (max-width: 941px) {
    .photo-editing-studio-block-3-container {
        width: 100%;
    }

    .photo-editing-studio-block-3 {
        height: calc(100vw * 0.8057)
    }

    .photo-editing-studio-block-3-header {
        top: 5.56%;
    }
}

@media only screen and (max-width: 842px) {
    .photo-editing-studio-block-3-box-cta h3 {
        letter-spacing: 2px;
    }
    .photo-editing-studio-block-3-box-cta h3 span {
        font-size: 10px;
    }

    .photo-editing-studio-block-3-cta {
        top: 91.14%
    }
}

@media only screen and (max-width: 680px) {
    .photo-editing-studio-block-3-box-cta h3 {
        letter-spacing: 1.5px;
    }
    .photo-editing-studio-block-3-box-cta h3 span {
        font-size: 9px;
    }
}

@media only screen and (max-width: 599px) {
    .photo-editing-studio-block-3-box-cta h3 {
        letter-spacing: 3px;
    }
    .photo-editing-studio-block-3-box-cta h3 span {
        font-size: 11px;
    }
    .photo-editing-studio-block-3 {
        height: 1721px;
    }

    .photo-editing-studio-block-3-container {
        width: 320px;
    }

    .photo-editing-studio-block-3-header {
        top: 15px;
    }

    .photo-editing-studio-block-3-header p{
        width: 230px;
        margin: auto;
    }

    .photo-editing-studio-block-3-box-size {
        height: 225px;
        width: 254px;
    }

    .photo-editing-studio-block-3-box-1 {
        left: 33px; 
        top: 119px;
    }

    .photo-editing-studio-block-3-box-2 {
        left: 33px; 
        top: 364px;
    }

    .photo-editing-studio-block-3-box-3 {
        left: 33px; 
        top: 613px;
    }

    .photo-editing-studio-block-3-box-4 {
        left: 33px; 
        top: 864px;
    }

    .photo-editing-studio-block-3-box-5 {
        left: 33px; 
        top: 1113px;
    }

    .photo-editing-studio-block-3-box-6 {
        left: 33px; 
        top: 1366px;
    }

    .photo-editing-studio-block-3-cta {
        top: 1647px;
        width: auto;
        left: 80px;
    }
}

/* block - 4 */

.photo-editing-studio-block-4 {
    width: 100%;
    height: 536px;
}

.photo-editing-studio-block-4-container {
    border-style: none;
    border-radius: 0px;
    width: 942px;
    height: 100%;
    margin: auto;
}

.photo-editing-studio-block-4 img {
    width: 100%;
    height: 100%;
}

.photo-editing-studio-block-4-mobile {
    display: none;
}

@media only screen and (max-width: 941px) {
    .photo-editing-studio-block-4 {
        height: calc(100vw * 0.569);
    }

    .photo-editing-studio-block-4-container {
        width: 100%;
    }
}

@media only screen and (max-width: 599px) {
    .photo-editing-studio-block-4-desktop {
        display: none; 
    }
    
    .photo-editing-studio-block-4-mobile {
        display: block;
    }

    .photo-editing-studio-block-4 {
        height: 456px;
    }

    .photo-editing-studio-block-4-container {
        width: 320px;
    }
}